{% extends  'master.html'%}

    {% block head_title %}
        MBF-About
    {% endblock %}
    {% block usuario %}
        {{ usuario }}
    {% endblock %}

{% block content %}
Producto Inventario, Diseñado para el uso de Lollapalooza 2016.</br>

    </br>
    Version 1.0.0 </br>
    Funcionamiento del ingreso,modificacion y eliminar de solicitante.</br>
    Se pueden crear articulos con cantidad y editar. </br>
    Se pueden realizar prestamos y devoluciones.</br></br></br></br>
    <img src="http://images.ahoranoticias.cl/2015/08/06/149220_55c34f9c60e46_700x407.png" alt="example-image" class="img-rounded img-responsive">
{% endblock %}