{% extends  'master.html'%}

    {% block head_title %}
        MBF-articulo
    {% endblock %}
    {% block usuario %}
        {{ titulo_template }}
    {% endblock %}

{% block content %}

{% if form %}
<form method='POST' action=''>{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="registrarme">
</form>
{% endif %}

{% for obj in queryset %}
    <u1> <li> {{ obj.nombre }} </li> </u1>
{% endfor %}

{% endblock %}
