{% extends  'master.html'%}

    {% block head_title %}
        MBF-Editar-Producto
    {% endblock %}

{% block content %}
{{ titulo }}
<h1> {{ titulo_template }} </h1>
{% if form %}
<form method='POST' enctype="multipart/form-data" action=''>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-small btn-primary">Guardar</button>
    <button type="reset" class="btn btn-small btn-primary">Limpiar</button>
</form>
{% endif %}
{% endblock %}

