{% extends  'master.html'%}

    {% block head_title %}
        MBF-Ingreso-Producto
    {% endblock %}

{% block content %}

<h1> {{ titulo_template }} </h1>
{% if form %}
<form method='POST' class="form-group has-success" action=''>{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="registrarme">
</form>
{% endif %}

{% for obj in queryset %}
    <u1> <li> {{ obj.nombre }} </li> </u1>
{% endfor %}

{% endblock %}