{% extends  'master.html'%}

    {% block head_title %}
        MBF-articulo
    {% endblock %}
    {% block usuario %}
        {{ usuario }}
    {% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

    {%  if pos == "articulo" %}
     <iframe src="/list_articulo_"  width=1100  frameborder="0" scrolling=yes marginwidth=2 marginheight=4 align=up></iframe>
    {% endif %}
    {%  if pos == "solicitante" %}
     <iframe src="/list_solicitante_"  width=1100  frameborder="0" scrolling=yes marginwidth=2 marginheight=4 align=up></iframe>
    {% endif %}
    {%  if pos == "prestamo" %}
     <iframe src="/list_prestamo_"  width=1100  frameborder="0" scrolling=yes marginwidth=2 marginheight=4 align=up></iframe>
    {% endif %}
{% if form %}
<form method='POST' action='' xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" class="btn btn-block btn-lg btn-primary"  value="registrarme">
</form>
{% endif %}

{% endblock %}

<a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
