{% extends  'master.html'%}

    {% block head_title %}
        MBF-articulo
    {% endblock %}
    {% block usuario %}
        {{ usuario }}
    {% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if queryset %}
    {{ queryset.title }}
    {%  if pos == "prestamo" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">codigo_art</div></div>
                <div class="col-md-2"><div class="header">id_solicitante</div></div>
                <div class="col-md-3"><div class="header">descripcion</div></div>
                <div class="col-md-1"><div class="header">cantidad</div></div>
                <div class="col-md-2"><div class="header">user_ingre</div></div>
                <div class="col-md-2"><div class="header">ingreso</div></div>
                <div class="col-md-1"><div class="header">accion</div></div>
            </div>
                {% for obj in queryset %}
                {% if obj.estado%}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.codigo_art }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.id_solicitante }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.cantidad }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.user_ingre }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.ingreso }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <a class="btn" href="/dev/{{ obj.id }}"><i class="icon-pencil"></i>
                                    devolver
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}