{% extends  'master.html'%}

    {% block head_title %}
        MBF-articulo
    {% endblock %}
    {% block usuario %}
        {{ usuario }}
    {% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if queryset %}
    {{ queryset.title }}
    {%  if pos == "articulo" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">codigo</div></div>
                <div class="col-md-2"><div class="header">nombre</div></div>
                <div class="col-md-1"><div class="header">marca</div></div>
                <div class="col-md-3"><div class="header">descripcion</div></div>
                <div class="col-md-1"><div class="header">cantidad</div></div>
                <div class="col-md-1"><div class="header">en_prestamo</div></div>
                <div class="col-md-2"><div class="header">update</div></div>
                <div class="col-md-1"><div class="header">update</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.codigo }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.nombre }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.marca }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.cantidad }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.en_prestamo }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.update }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <a class="btn" href="edit/{{ pos }}/{{ obj.codigo }}"><i class="icon-pencil"></i>
                                    editar
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {%  if pos == "prestamo" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">estado</div></div>
                <div class="col-md-1"><div class="header">codigo_art</div></div>
                <div class="col-md-1"><div class="header">id_solicitante</div></div>
                <div class="col-md-2"><div class="header">descripcion</div></div>
                <div class="col-md-1"><div class="header">cantidad</div></div>
                <div class="col-md-1"><div class="header">user_ingre</div></div>
                <div class="col-md-2"><div class="header">ingreso</div></div>
                <div class="col-md-1"><div class="header">update_ingre</div></div>
                <div class="col-md-2"><div class="header">update</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    {% if obj.estado == True %}
                                    <span class="fui-check"></span>
                                    {% else %}
                                    <span class="fui-cross"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.codigo_art }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.id_solicitante }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.cantidad }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.user_ingre }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.ingreso }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.update_ingre }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.update }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br> Vigente = <span class="fui-check"></span> </br>
         Devuelto = <span class="fui-cross"></span>
    {% endif %}
    {%  if pos == "solicitante" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">rut</div></div>
                <div class="col-md-2"><div class="header">nombre</div></div>
                <div class="col-md-2"><div class="header">apellido</div></div>
                <div class="col-md-2"><div class="header">alias</div></div>
                <div class="col-md-1"><div class="header">area</div></div>
                <div class="col-md-2"><div class="header">telefono</div></div>
                <div class="col-md-2"><div class="header">accion</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.rut }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.nombre }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.apellido }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.alias }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.area }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.telefono }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <a class="btn" href="/edit/{{ pos }}/{{ obj.rut }}"><i class="icon-pencil"></i>
                                    Editar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="cell">
                                <a class="btn" href="/eliminar/{{ pos }}/{{ obj.rut }}" onclick="return confirm('Estás seguro que deseas eliminar al usuario');"><i class="icon-pencil"></i>
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endif %}
{% endblock %}


