{% extends  'master.html'%}

    {% block head_title %}
        MBF-Editar
    {% endblock %}

{% block content %}
{{ titulo }}
<h1> {{ titulo_template }} </h1>
    <form method='POST' enctype="multipart/form-data" action=''>
    <div class="col-xs-3">
    <h3 class="demo-panel-title">Select</h3>
    <div class="select2-container form-control select select-primary" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="">...</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"></div><select class="form-control select select-primary select2-offscreen" data-toggle="select" tabindex="-1" title="">
    {%  if pos == "articulo" %}
        {% for obj in queryset %}
            <option value={{ obj.codigo }}>{{ obj.codigo }}-{{ obj.nombre }}</option>
        {% endfor %}
    {%  endif %}
    {%  if pos == "prestamo" %}
        {% for obj in queryset %}
            <option value={{ obj.id }}>{{ obj.codigo_art }}-{{ obj.id }}</option>
        {% endfor %}
    {%  endif %}
    <button type="submit" class="btn btn-block btn-lg btn-primary">Guardar</button>
    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
</form>

{% endblock %}