{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <link href='{%  static "css/vendor/bootstrap/css/bootstrap.min.css" %}' rel='stylesheet'>
    <link href='{%  static "css/flat-ui.min.css" %}' rel='stylesheet'>
    <link href='{%  static "css/tabla.css" %}' rel='stylesheet'>

</head>
<body>
{% if queryset %}
    {{ queryset.title }}
    {%  if pos == "articulo" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">codigo</div></div>
                <div class="col-md-2"><div class="header">nombre</div></div>
                <div class="col-md-2"><div class="header">marca</div></div>
                <div class="col-md-3"><div class="header">descripcion</div></div>
                <div class="col-md-2"><div class="header">ingreso</div></div>
                <div class="col-md-2"><div class="header">update</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.codigo }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.nombre }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.marca }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.ingreso }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.update }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {%  if pos == "prestamo" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">codigo_art</div></div>
                <div class="col-md-2"><div class="header">id_solicitante</div></div>
                <div class="col-md-2"><div class="header">descripcion</div></div>
                <div class="col-md-3"><div class="header">hora</div></div>
                <div class="col-md-2"><div class="header">estado</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.codigo_art }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.id_solicitante }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.hora }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.estado }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {%  if pos == "solicitante" %}
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-1"><div class="header">rut</div></div>
                <div class="col-md-2"><div class="header">nombre</div></div>
                <div class="col-md-2"><div class="header">apellido</div></div>
                <div class="col-md-2"><div class="header">alias</div></div>
                <div class="col-md-2"><div class="header">area</div></div>
                <div class="col-md-2"><div class="header">telefono</div></div>
            </div>
                {% for obj in queryset %}
                    <div class="row margin-0">
                        <div class="col-md-1">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.rut }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="type">
                                    <code>{{ obj.nombre }}</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="isrequired">
                                    {{ obj.apellido }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.alias }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.area }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="cell">
                                <div class="description">
                                    {{ obj.telefono }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endif %}

</body>
</html>
