{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!-- Loading Bootstrap -->
    <link href='{%  static "css/vendor/bootstrap/css/bootstrap.min.css" %}' rel='stylesheet'>

    <!-- Loading Flat UI -->
    <link href='{%  static "css/flat-ui.min.css" %}' rel='stylesheet'>

    <link rel='shortcut icon' href='{%  static "image/favicon3.ico" %}'>
    <title>Inventario MBF Lollapaloza</title>

            <img src='{%  static "image/mbf_logo3.png" %}'alt="Welcome to Mail App">

</head>
<body>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method='get' action='/confir' xmlns="http://www.w3.org/1999/html">
<div class="login-screen">
    <div class="login-form">
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" name="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" name="login-pass" >
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">{{ error }}</input>
        <a class="login-link" href="#">Lost your password?</a>
    </div>
</div>
</form>




<footer class="footer">
    <div class="container">
      <p class="text-muted">Inventory for MobileBigFoot by Steran - 2016. Made using Django, flat ui, SQLite3.</p>
    </div>
  </footer>
</body>
</html>