{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!-- Loading Bootstrap -->
    <link href='{%  static "css/vendor/bootstrap/css/bootstrap.min.css" %}' rel='stylesheet'>

    <!-- Loading Flat UI -->
    <link href='{%  static "css/flat-ui.min.css" %}' rel='stylesheet'>
    <link href='{%  static "css/tabla.css" %}' rel='stylesheet'>

    <link rel='shortcut icon' href='{%  static "image/favicon3.ico" %}'>
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href='{% url "home" %}'>Inventario MobileBigFoot</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prestamo <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "i_prestamo" %}'>Ingresar</a></li>
                        <li><a href='{% url "l_prestamov" %}'>Listar Vigentes</a></li>
                        <li><a href='{% url "l_prestamo" %}'>Listar Historicos</a></li>
                      <!--  <li><a href='{% url "edit_list_prestamo" %}'>devolucion</a></li> -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articulo <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "i_articulo" %}'>Ingresar</a></li>
                        <li><a href='{% url "l_articulo" %}'>Listar</a></li>
                       <!-- <li><a href='{% url "edit_list_articulo" %}'>Editar</a></li> -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitantes <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href='{% url "i_solicitante" %}'>Ingresar</a></li>
                        <li><a href='{% url "l_solicitante" %}'>Listar</a></li>
                    </ul>
                </li>
                <li><a href='{% url "about" %}'>About<span class="navbar-unread">1</span></a></li>
            </ul>
            <form class="navbar-form navbar-right" action="#" role="search">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block usuario %}  {% endblock %} <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li><a href="logout">Log Out</a></li>
                    </ul>
                </li>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav>


</head>
<body>

{% block content %}
{% endblock %}

<script src='{%  static "js/vendor/jquery.min.js" %}'></script>
<script src='{%  static "js/flat-ui.min.js" %}'></script>

<footer class="footer">

    <img src='{%  static "image/mbf_logo3.png" %}'alt="Welcome to Mail App">
    <div class="container">
      <p class="text-muted">Inventory for MobileBigFoot by Steran - 2016. Made using Django, flat ui, SQLite3.</p>
    </div>
  </footer>
</body>
</html>